In [1]:
##pandas
##외부 라이브러리 설치
!pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ezen\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\python311\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\ezen\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
## 라이브러리 로드
import pandas as pd #pd로 줄여부를게

In [4]:
## 스리즈의 형태
## pd.Series()

pd_list = pd.Series(
    [5000,6000,6500,6500], #value
    ['아메리카노', '카페라테', '카페모카', '카푸치노'] #index
)

In [5]:
print(pd_list) ##이게 시리즈의 형태

아메리카노    5000
카페라테     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [7]:
## values 값과 index값을 따로 출력 가능

print("스리지의 values = ", pd_list.values)
print("스리지의 index = ", pd_list.index)

스리지의 values =  [5000 6000 6500 6500]
스리지의 index =  Index(['아메리카노', '카페라테', '카페모카', '카푸치노'], dtype='object')

In [8]:
pd_list.index = [1,2,3,4]

In [9]:
print(pd_list)

1    5000
2    6000
3    6500
4    6500
dtype: int64

In [10]:
## 데이터프레임 형태의 데이터 생성
values = [[1,2,3], [4,5,6], [7,8,9]]

df = pd.DataFrame(values)

In [11]:
print(df) #데이터 프레임에서 print를 안써도됨

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
df #보기 훨씬 편함

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
## index 값을 변경 a, b, c
## cloumn 값을 변경 A, B, C

df.index = ["a", "b", "c"]
df.columns = ["A", 'B', "C"]

In [15]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [21]:
## 딕셔너리형태의 데이터를 데이터 프레임 형태로 변경

values = {
    "name": ["A", "B", "C"],
    "age" : [20, 30, 40],
    "phone" : ["010123456", "01023568", "010235895"]
    }

In [22]:
df_2 = pd.DataFrame(values)
df_2 #index 값을 따로 지정안해서 0.1,2로 됨

  name  age      phone
0    A   20  010123456
1    B   30   01023568
2    C   40  010235895

In [23]:
## 상단의 행을 기준으로 출력하는 head()
## 상단부터 n번까지 출력하는 함수

df_2.head(2)

  name  age      phone
0    A   20  010123456
1    B   30   01023568

In [24]:
df_2.tail(2)

  name  age      phone
1    B   30   01023568
2    C   40  010235895

In [25]:
## 컬럼을 기준으로 출력
df_2['name'] ##시리즈 형태

0    A
1    B
2    C
Name: name, dtype: object

In [26]:
df_2[['name', 'age']]  ##데이타프레임의 형태

  name  age
0    A   20
1    B   30
2    C   40